<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>flyaway.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>flyaway.servlets.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddAirlineServlet</servlet-name>
  	<display-name>AddAirlineServlet</display-name>
  	<description></description>
  	<servlet-class>flyaway.servlets.AddAirlineServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddFlightServlet</servlet-name>
  	<display-name>AddFlightServlet</display-name>
  	<description></description>
  	<servlet-class>flyaway.servlets.AddFlightServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddSourceServlet</servlet-name>
  	<display-name>AddSourceServlet</display-name>
  	<description></description>
  	<servlet-class>flyaway.servlets.AddSourceServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AddDestinationServlet</servlet-name>
  	<display-name>AddDestinationServlet</display-name>
  	<description></description>
  	<servlet-class>flyaway.servlets.AddDestinationServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CreateFlightServlet</servlet-name>
  	<display-name>CreateFlightServlet</display-name>
  	<description></description>
  	<servlet-class>flyaway.servlets.CreateFlightServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SearchResultServlet</servlet-name>
  	<display-name>SearchResultServlet</display-name>
  	<description></description>
  	<servlet-class>flyaway.servlets.SearchResultServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>BookingTableServlet</servlet-name>
  	<display-name>BookingTableServlet</display-name>
  	<description></description>
  	<servlet-class>flyaway.servlets.BookingTableServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>PaymentGatewayServlet</servlet-name>
  	<display-name>PaymentGatewayServlet</display-name>
  	<description></description>
  	<servlet-class>flyaway.servlets.PaymentGatewayServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogourServlet</servlet-name>
  	<display-name>LogourServlet</display-name>
  	<description></description>
  	<servlet-class>flyaway.servlets.LogourServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddAirlineServlet</servlet-name>
  	<url-pattern>/AddAirlineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddFlightServlet</servlet-name>
  	<url-pattern>/AddFlightServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddSourceServlet</servlet-name>
  	<url-pattern>/AddSourceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AddDestinationServlet</servlet-name>
  	<url-pattern>/AddDestinationServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CreateFlightServlet</servlet-name>
  	<url-pattern>/CreateFlightServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SearchResultServlet</servlet-name>
  	<url-pattern>/SearchResultServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>BookingTableServlet</servlet-name>
  	<url-pattern>/BookingTableServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>PaymentGatewayServlet</servlet-name>
  	<url-pattern>/PaymentGatewayServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogourServlet</servlet-name>
  	<url-pattern>/LogourServlet</url-pattern>
  </servlet-mapping>
</web-app>
